@font-face {
  font-family: "Mouse Memoirs";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/MouseMemoirs-Regular.woff2") format("woff2");
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

html,
body {
  font-family: 'Mouse Memoirs', sans-serif;
  @include fontSize(20px);
}

h1 {
    text-align: center;
}

.menu {
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    width: auto;
    flex-direction: column;
}

.menu-item {
    width: 100%;
}

.bottom-tooltip {
    border: 1px solid black;
}

.game-container {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0 50px;
}

@media screen and (max-width: 992px) {
    .game-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .game-container {
        padding: 0 10px;
    }
}
