@mixin moveDown($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(-100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveUp($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveRight($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateX(-100%);
  }
  .#{$className}-enter-active {
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveLeft($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateX(100%);
  }
  .#{$className}-enter-active {
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin leaveHole($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(25%);
    opacity: 0;
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterDown($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(-100%);
    opacity: 1;
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 0;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterUp($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateY(100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterRight($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateX(-100%);
  }
  .#{$className}-enter-active {
    opacity: 0;
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterLeft($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateX(100%);
  }
  .#{$className}-enter-active {
    opacity: 0;
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@include moveLeft(left-1000, 1000);
@include moveRight(right-1000, 1000);
@include moveUp(up-1000, 1000);
@include moveDown(down-1000, 1000);

@include enterLeft(left-1000-enter, 1000);
@include enterRight(right-1000-enter, 1000);
@include enterUp(up-1000-enter, 1000);
@include enterDown(down-1000-enter, 1000);
@include leaveHole(exit-1000, 1000);

// Fade animation
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

// Slide down animation
.slide-down {
    overflow:hidden;
    transition: all 0.3s ease-out;
    height: 0;
    opacity: 0;
}

