@mixin moveDown($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(-100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveUp($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveRight($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateX(-100%);
  }
  .#{$className}-enter-active {
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin moveLeft($className, $duration) {
  .#{$className} {
    transition: transform #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateX(100%);
  }
  .#{$className}-enter-active {
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin leaveHole($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(25%);
    opacity: 0;
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterDown($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    transform: translateY(-100%);
    opacity: 1;
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 0;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterUp($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateY(100%);
  }
  .#{$className}-enter-active {
    transform: translateY(0);
    opacity: 0;
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterRight($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateX(-100%);
  }
  .#{$className}-enter-active {
    opacity: 0;
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

@mixin enterLeft($className, $duration) {
  .#{$className} {
    transition: all #{$duration}ms linear;
  }
  .#{$className}-enter {
    opacity: 1;
    transform: translateX(100%);
  }
  .#{$className}-enter-active {
    opacity: 0;
    transform: translateX(0);
  }
  .#{$className}-exit {
    opacity: 0;
  }
  .#{$className}-exit-active {
    opacity: 1;
  }
}

// 750ms
@include moveLeft(left-750, 750);
@include moveRight(right-750, 750);
@include moveUp(up-750, 750);
@include moveDown(down-750, 750);
@include enterLeft(left-750-entrance, 750);
@include enterRight(right-750-entrance, 750);
@include enterUp(up-750-entrance, 750);
@include enterDown(down-750-entrance, 750);
@include leaveHole(exit-750, 750);
// 500ms
@include moveLeft(left-500, 500);
@include moveRight(right-500, 500);
@include moveUp(up-500, 500);
@include moveDown(down-500, 500);
@include enterLeft(left-500-entrance, 500);
@include enterRight(right-500-entrance, 500);
@include enterUp(up-500-entrance, 500);
@include enterDown(down-500-entrance, 500);
@include leaveHole(exit-500, 500);
// 250ms
@include moveLeft(left-250, 250);
@include moveRight(right-250, 250);
@include moveUp(up-250, 250);
@include moveDown(down-250, 250);
@include enterLeft(left-250-entrance, 250);
@include enterRight(right-250-entrance, 250);
@include enterUp(up-250-entrance, 250);
@include enterDown(down-250-entrance, 250);
@include leaveHole(exit-250, 250);


// Fade animation
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

// Slide down animation
.slide-down {
    overflow:hidden;
    transition: all 0.3s ease-out;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
}

