.board-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
  overflow: auto;

  .board-container {
    overflow: auto;
    display: grid;
    margin: auto;
    padding: 10px 0;
    max-width: calc(64px * 10);
    max-height: calc(64px * 10);
  }

  .board-field {
    text-align: center;
    position: relative;
    background-image: url("../../assets/images/GRASS.png");
    width: 64px;
    height: 64px;
    border: 1px solid #33691e;
    .dragon-field {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      .dragon-image {
        position: absolute;
        background-image: url("../../assets/images/DRAGON.png");
        z-index: 1;
        width: 64px;
        height: 64px;
      }
    }
    .board-content {
      position: relative;
      @include fieldDetails;
    }
  }
}


