.board-container {
  overflow: auto;
  width: 100%;
  display: grid;
}

.board-field {
  text-align: center;
  position: relative;
  background-image: url("../../assets/images/grass.png");
  width: 64px;
  height: 64px;
  border: 1px solid #33691e;
  .dragon-field {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
  }
  .board-content {
    position: relative;
    @include fieldDetails;
  }
}


