$backgroundPrimary: #F2E8CF;
$backgroundDarker: #BFB69E;
$backgroundLight: #FFFFFF;
$dangerColor: #BC4749;
$primaryColor: #427AA1;
$successColor: #679436;

$shadow: 0px 0px 20px -5px rgba(66, 68, 90, 1);
