.gadgets-selection-container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  grid-column: 1/3;
  flex-wrap: wrap;
  margin: 20px 0;

  .gadgets-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

    .gadget-picture {
      padding-top: 10px;
      height: 120px;
      min-width: 145px;
      background-image: url("../../assets/images/GRASS.png");
      border-radius: 15px;
    }

    .value-with-controls {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: none;
        color: black;
      }
    }

    @media screen and (max-width: $tabletWidth) {
      flex-wrap: nowrap;
      justify-content: normal;
      overflow: auto;
    }
  }
}
