.gadget-edit-container {
  display: grid;
  grid-template-columns: 100%;
  
  .gadget-edit-description {
    grid-column: 1/3;
    margin-bottom: 20px;
    text-align: center;
  }

  .gadget-edit-picture {
    width: 64px;
    height: 64px;
    margin: auto;
    position: relative;
    background-image: url("../../assets/images/GRASS.png");
    border-radius: 15px;
    @include fieldDetails;
    grid-row: 3;
  }

  .gadget-edit-options {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 20px;

    .dropdown-container {
      grid-row: 1;
      margin: 0 5px;
    }
  }
}
