.gadget-edit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .gadget-edit-picture {
    width: 64px;
    height: 64px;
    margin: auto;
    position: relative;
    .image-detail {
      position: absolute;
      width: 20px;
      height: 20px;
    }
    .image-right {
      right: 3px;
    }
    .image-bottom {
      bottom: 8px;
    }
    .image-left {
      left: 3px;
    }
    .image-top {
      top: 3px;
    }
    .image-sign {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 10px;
    }
    .image-sign-right {
      right: 9px;
    }
    .image-sign-left {
      left: 9px;
    }
    .image-sign-middle {
      left: 25px;
    }
  }

  .gadget-edit-options {
    display: grid;
    grid-template-columns: auto;

    select {
      margin: 10px 0;
      text-align: center;
      width: 100%;
      @include fontSize(30px);
      font-family: "Mouse Memoirs", sans-serif;
    }
  }
}
