.level-select-container {
  display: grid;
  justify-content: center;

  .level-select {
    display: grid;
    margin-bottom: 20px;
  }

  .level-select-buttons {
    display: grid;

    button {
      margin-bottom: 20px;
    }
  }
}
