@font-face {
  font-family: "Mouse Memoirs";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/MouseMemoirs-Regular.woff2") format("woff2");
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin fieldDetails {
  .image-detail {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  .image-right {
    right: 3px;
  }
  .image-bottom {
    bottom: 8px;
  }
  .image-left {
    left: 3px;
  }
  .image-top {
    top: 3px;
  }
  .image-sign {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
  }
  .image-sign-right {
    right: 9px;
  }
  .image-sign-left {
    left: 9px;
  }
  .image-sign-middle {
    left: 25px;
  }
}

$tabletWidth: 768px;
$desktopWidth: 992px;
$smallPhoneWidth: 350px;
