.modal-container {
  padding: 20px 50px;
  border-radius: 20px;
  max-width: 70%;
  min-width: 15%;
  max-height: 80%;
  overflow: auto;

  background-color: $backgroundLight;
  box-shadow: $shadow;

  @media screen and (max-width: $tabletWidth) {
    padding: 20px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      letter-spacing: 2px;
      margin: 5px 0;
    }

    .modal-buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;

      button {
        margin: 0 5px;
      }
    }
  }

  .modal-text {
    text-align: center;
  }
}

.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  &.modal-visible {
    visibility: visible;
    opacity: 1;
  }
}
