.navigation-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .navigation-error-text {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
