@mixin scrollBar($className) {
  .#{$className}::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .#{$className}::-webkit-scrollbar-corner {
      background-color: #F2E8CF;
  }

  .#{$className}::-webkit-scrollbar:vertical {
      width: 12px;
      margin: 0;
  }

  .#{$className}::-webkit-scrollbar:horizontal {
      height: 12px;
  }

  .#{$className}::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
  }

  .#{$className}::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #F2E8CF;
  }
}

@include scrollBar(board-container);
@media screen and (max-width: $tabletWidth) {
  @include scrollBar(bottom-tooltip);
  @include scrollBar(gadgets-container);
}
