.speed-controls {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;

  @media screen and (max-width: $desktopWidth) {
    position: fixed;
    bottom: 0;
    background: $backgroundPrimary;
    box-shadow: $shadow;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
    left: 0;
  }

  @media screen and (min-width: $tabletWidth) {
    button {
      width: 120px;
      margin: 10px;
    }
  }
}
