.tree-registers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .single-register {
    min-width: 64px;

    .single-register-number {
      text-align: center;
    }

    .single-register-data {
      .value-with-controls {
        display: flex;
        justify-content: center;

        .material-icons.value-with-controls-button {
          color: black;
          min-width: unset;
          background: none;
        }
      }
    }
  }
}
