.tree-registers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .single-register {
    width: 64px;
    height: 64px;
    background-image: url("../../assets/images/hollow.png");

    .single-register-number {
      // text-align: center;
      position: absolute;
      .number-top {
        position: relative;
        top: 0px;
        width: 25px;
        height: 25px;
        left: 20px;
      }
    }

    .single-register-data {
      .value-with-controls {
        display: flex;
        justify-content: center;

        .material-icons.value-with-controls-button {
          color: black;
          min-width: unset;
          background: none;
        }
      }
    }
  }
}
