@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "mixins";
@import "animations";
@import "materialIcons";
@import "colors";
@import "modal";
@import "board";
@import "gemPanel";
@import "treeRegisters";
@import "gadgetEdit";
@import "bottomTooltip";
@import "speedControls";
@import "exportImport";
@import "navigationError";
@import "editorForm";
@import "levelSelect";
@import "category";
@import "loading";
@import "gadgetsSelection";
@import "imageDropdown";
@import "scrollbar";

html,
body {
  font-family: "Mouse Memoirs", sans-serif;
  @include fontSize(20px);
  background-color: $backgroundPrimary;
}

h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
}

button,
textarea {
  font-family: "Mouse Memoirs";
}

textarea {
  resize: none;
  margin: 20px 0;
}

button {
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  min-width: 64px;
  border: 0;
  background-color: $primaryColor;
  cursor: pointer;

  &.button-danger {
    background-color: $dangerColor;
  }

  &.button-success {
    background-color: $successColor;
  }

  &.button-disabled {
    background-color: $disabledColor;
    color: $disabledText;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#title {
  width: calc(100% - 40px);
  margin: 20px;
  max-height: 100px;
}

#app-container {
  max-width: 1170px;
  position: relative;
  padding: 0 20px;
  margin: auto;

  @media screen and (max-width: $tabletWidth) {
    padding: 0 10px;
  }
}

.menu {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  width: auto;
  flex-direction: column;

  .menu-item {
    min-width: 250px;
    margin-bottom: 10px;
    color: black;
    background: none;
    cursor: pointer;

    .menu-dragon-picture {
      position: absolute;
      top: -60px;
      margin-left: -32px;
      left: 50%;
    }
  }
}

.game-container {
  display: grid;
  grid-template-columns: 68% 32%;
  padding-bottom: 40px;

  .right-panel-wrapper {
    width: 100%;
  }

  @media screen and (max-width: $desktopWidth) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;

    .bottom-tooltip {
      order: -1;
    }

    .board-wrapper {
      order: -2;
      width: 100%;
    }
  }

  @media screen and (max-width: $tabletWidth) {
    padding-bottom: 110px;
  }
}

