@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "mixins";
@import "animations";
@import "materialIcons";
@import "colors";
@import "modal";
@import "board";
@import "gemPanel";
@import "treeRegisters";
@import "gadgetEdit";
@import "bottomTooltip";
@import "speedControls";
@import "exportImport";

html,
body {
  font-family: "Mouse Memoirs", sans-serif;
  @include fontSize(20px);
  background-color: $backgroundPrimary;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
}

button,
textarea {
  font-family: "Mouse Memoirs";
}

textarea {
  resize: none;
  margin: 20px 0;
}

button {
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  min-width: 64px;
  border: 0;
  background-color: $primaryColor;

  &.button-danger {
    background-color: $dangerColor;
  }

  &.button-success {
    background-color: $successColor;
  }
}

#app-container {
  max-width: 1170px;
  position: relative;
  padding: 0 20px;
  margin: auto;


  @media screen and (max-width: $tabletWidth) {
    padding: 0 10px;
  }
}

.menu {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  width: auto;
  flex-direction: column;
  .menu-item {
    width: 100%;
  }
}

.game-container {
  display: grid;
  grid-template-columns: 65% 35%;

  @media screen and (max-width: $desktopWidth) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }

  @media screen and (max-width: $tabletWidth) {
    padding-bottom: 90px;
  }
}
